html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*Embodiment*/
body{
    background: url(../assets/img/bg.png) no-repeat center center; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: scroll;
    font-family: "Montserrat", sans-serif;
    font-size: 17pt;
}


/*Navbar CSS*/
.navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
    background-color: rgba(29, 29, 29, 0.384);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.navbar a{
    color: white;
    background-color: transparent;
}
.navbar .navbar-nav a:hover{
    color: rgb(171, 226, 171);
    text-decoration: line-through;
}
.navbar-brand{
    font-size: 25pt;
    line-height: 20pt;
    font-weight: bold;
}

/*Slideshow CSS*/
.text-overlay{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
    top: 300px;
    color: white;
    font-family: "Lora", sans-serif;
    font-size: 23pt;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

}
.text-overlay::first-line{
    font-size: 40pt;
    line-height: 36pt;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}
.carousel-control-next, .carousel-control-prev, .carousel-indicators{
    bottom: 150px;
    z-index: 20;
}

/*Content CSS*/
body h1{
    font-weight: 900;
}
.about-text, .edu-text, .skills-text, .exp-text{
    font-family: "Lora", sans-serif;
}
.exp-head {
    border-right: 2px solid #3e8e41;
}
.exp-btn{
    background-color: white;
    border: none;
    color: black;
    transition: 0.3s;
    border-radius: 5%;
}
.exp-btn:hover {
  background-color: #3e8e41;
  color: white;
}
#about, #edu, #skills, #exp, #contact{
    padding-top: 300px;
}
.contact-head {
    border-top: 1px solid rgb(185, 185, 185)
}
.contact-btn img {
    max-width: 50px;
    margin: 0px 15px;
}
.copyright{
    font-size: 12pt;
}

/*Resume Page Exclusive CSS*/
#exp-headline, #volunteer{
    padding: 50px 0px;
}
.res-text p, .res-text a{
    font-size: 14pt;
    font-family: 'Lora', sans-serif;
}
.see-more{
    cursor: pointer;
}
.hidden-text{
    display: none;
}
.exp-sep-right{
    border-left: 5px solid #3e8e418e;
}
.back-btn img{
    position: absolute;
    width: 50px;
    transition: 0.3s;
    z-index: 20;
    margin-left: 5px;
}
.back-btn img:hover{
    margin-left: 25px;
}
.dl-btn-wrapper{
    padding-top: 50px;
}
.dl-btn{
    background-color: #ffffff;
    font-weight: bold;
    color: black;
    transition: 0.3s;
    border: 3px solid #3e8e41;
    padding: 15px 25px;
    border-radius: 40px;
}
.dl-btn:hover {
  background-color: #3e8e41;
  color: white;
  text-decoration: none;
}